<mat-card class="card-grafico">
    <mat-card-title>
        {{titulo}}
        <mat-form-field>
            <mat-select placeholder="Ordem de Exibição" [(value)]="ordemSelecionada" (change)="onChangeViwer($event)">
                <mat-option *ngFor="let ord of ordem" [value]="ord.value">
                    {{ ord.viewValue }}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </mat-card-title>
    <div #chartLotes id="{{lotePlotlyId}}">
        <!--Relatório aqui-->
    </div>
</mat-card>