<div class="container-fluid">
  <div class="row">
    <div class="col-lg-3 col-md-6 col-sm-6">
      <div class="col-profundidade">
        <div class="card-content">
          <p class="category">Número de animais</p>
          <h3 class="title">{{numeroDeAnimais}}
          </h3>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
      <div class="col-profundidade">
        <div class="card-content">
          <p class="category">Número de lotes</p>
          <h3 class="title">{{numeroDeLotes}}
          </h3>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
      <div class="col-profundidade">
        <div class="card-content">
          <p class="category">Alertas</p>
          <h3 class="title">{{numeroDeAlertas}}
          </h3>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
      <div class="col-profundidade">
        <div class="card-content">
          <p class="category">Lucro</p>
          <small>R$</small>
          <h3 class="title">{{lucro.toFixed(2)}}
          </h3>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="padding">
  <app-grafico-lotes lotePlotlyId="1" titulo="Peso, kg" tipo="1"></app-grafico-lotes>
  <br>
  <app-grafico-lotes  lotePlotlyId="2" titulo="GPD, kg" tipo="2"></app-grafico-lotes>
  <br>
  <app-grafico-desempenho></app-grafico-desempenho>
  <br>
  <app-grafico-dinamica></app-grafico-dinamica>
</div>