<div class="container-fluid">
  <div class="row">
    <div class="col-lg-3 col-md-6 col-sm-6">
      <div class="col-profundidade">
        <div class="card-content">
          <p class="category">Número de animais</p>
          <h3 class="title">1800
          </h3>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
      <div class="col-profundidade">
        <div class="card-content">
          <p class="category">Número de lotes</p>
          <h3 class="title">22
          </h3>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
      <div class="col-profundidade">
        <div class="card-content">
          <p class="category">Alertas</p>
          <h3 class="title">3
          </h3>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
      <div class="col-profundidade">
        <div class="card-content">
          <p class="category">Lucro</p>
          <small>R$</small>
          <h3 class="title">1.875.000,00
          </h3>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="padding">
  <app-grafico-lotes titulo="Peso, kg" tipo="1"></app-grafico-lotes>
  <br>
  <app-grafico-lotes titulo="GPD, kg" tipo="2"></app-grafico-lotes>
</div>